login-page {

	.auth-content {
		// background-color: black;
		// background-image: url("../assets/images/logros2.gif");
		// background-repeat: none;
		// background-size: cover;
		
	}

	
	html {
		font-size: 16px;
	}

	.container {
		position: relative;
		background-color: transparent;
		margin-top: 50%;
		height: 100% !important;
	}


	video {
		position: fixed !important;
		top: 50% !important;
		left: 50% !important;
		min-width: 100% !important;
		min-height: 100% !important;
		width: auto !important;
		height: auto !important;
		z-index: -100 !important;
		transform: translateX(-50%) translateY(-50%) !important;
	}

	.fondo {
		position: fixed;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		transform: translateX(-50%) translateY(-50%);
		z-index: -100;
	}

	.boton-entrar {
		background-color: $theme-color-2 !important;
		margin-top: 12px !important;
		padding: 0px;
		font-size: 0.938em;
		box-shadow: none;
		border-radius: 0 !important;


	}

	.boton-cliente {
		font-weight: bold;
		color: $theme-color-2;
		display: inline-block;
		margin-top: 30%;

	}

	ion-loading.my-loading-class {
		.loading-wrapper {
			background: transparent;
			box-shadow: none;
		}
	}

	#forgotPassword {
		color: white;
		text-decoration: none;
		font-size: 1em;
		margin-top: 12px !important;
		font-family: 'AppFont3';

	}

	@media only screen and (min-width: 700px) {
		p {
			font-size: 1.5em !important;
		}

		button {

			font-size: 1.5em !important;
		}
	}

	#client {
		color: white;
		text-decoration: none;
		font-weight: bolder;
		font-size: 1em;
		margin-bottom: 80px !important;
		font-family: 'AppFont3';
	}

	.logo {
		margin-bottom: 59px;
		padding: 0;
		width: 250px;
		height: 58px;
		padding: 0;
	}

	.backgroundImage {
		position: fixed !important;
		top: 50% !important;
		left: 50% !important;
		min-width: 100% !important;
		min-height: 100% !important;
		width: auto !important;
		height: auto !important;
		z-index: -90 !important;
		transform: translateX(-50%) translateY(-50%) !important;
	}

}