<ion-content class="auth-content">

  <video id="video"  loop webkit-playsinline playsinline autoplay muted poster="assets/images/logros2.gif" type="video/mov">
  </video>
  <div class="container">
    <ion-card-content id="background" >
     
      
      <!-- <div *ngIf="modelo =='x86_64' || modelo == 'iPhone10,2'">
       <img src="assets/images/logros2.gif" class="backgroundImage">
      </div> -->

      <div style="text-align:center">
        <img class="logo" padding src="./assets/images/white-logo.png">
      </div>
      <form class="login-form auth-form" [formGroup]="login" (ngSubmit)="doLogin()">
        <ion-item class="input">
          <ion-input type="text" placeholder="RUT" (keyup)="onChangeRut()" value="" formControlName="rut"></ion-input>
        </ion-item>
        <ng-container *ngIf="errorRut">
          <div class="error-message">
            <div class="validation-errors">
              <ng-container *ngIf="errorRut">
                <div class="error-message" style="color:red">
                  {{ errorRut }}
                </div>
              </ng-container>
            </div>
          </div>
        </ng-container>
        <show-hide-container>
          <ion-item>
            <ion-input type="password"  autocapitalize="none" placeholder="Contraseña" value="" formControlName="password" show-hide-input>
            </ion-input>
          </ion-item>
        </show-hide-container>
        <button ion-button block class="boton-entrar" style="font-family: 'AppFont3';" type="submit"
          >ENTRAR</button>
        <div style="text-align: center">
          <p id="forgotPassword" (click)="forgotPassword()">Olvidé mi contraseña</p>
        </div>
      </form>
    </ion-card-content>
    <div style="text-align: center;">
      <p id="client" (click)="openWebPage()" style="color:white" class="boton-cliente">Aún no soy cliente</p>
    </div>
  </div>
</ion-content>