<ion-content>
  <ion-grid style="padding:16px">
    <div>
      <button clear ion-button style="float:left; padding:0 !important" (click)="volver()">
        <ion-icon style="font-size: 1.5em;color:red" name="ios-arrow-back"> Hoy</ion-icon>
      </button>
    </div>
    <ion-row>
      <ion-col>
        <div style="text-align:left">
          <h2>{{cliente.nombre}}</h2>
          <p class="rut-usuario">RUT {{cliente.rut | rut}}</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <div id="btn_servicios">
          <h5 (click)="openWeb()" padding class="titulo-boton">Contratar más servicios</h5>
          <button (click)="openWeb()" class="btn-arrow" clear ion-button>
            <ion-icon style="padding:5px" name="ios-arrow-forward"></ion-icon>
          </button>
        </div>
        <h6 class="header-ejecutivo">MI EJECUTIVO</h6>
        <div id="info_table">
          <ion-row id="#info_table" style="margin-bottom:30px;">
            <div col-4>
              <ion-col>
                <img onError="this.src='./assets/images/user.png'" style="max-height:80px;
                  border-radius: 50%;" src="{{ejecutivo.foto}}">
              </ion-col>
            </div>
            <div col-8 style="margin-top:20px !important;">
              <p col-12 style="color:black;padding:0;font-size: 1.063em;">{{ejecutivo.nombre | titlecase}}</p>
              <p (click)="abrirMapa()" style="color: #E31400;font-size: 0.875em;">Oficina
                {{ejecutivo.sucursal.nombre_sucursal | titlecase}}
              </p>
            </div>
          </ion-row>

          <ion-row (click)="openDialer()" *ngIf="ejecutivo.celular.length !=0">

            <ion-col col-1 text-left>
              <p>
                <ion-icon class="iconos" name="ios-call-outline"></ion-icon>
              </p>
            </ion-col>

            <ion-col col-9 text-left>
              <p  style="color: black;">
                {{ejecutivo.celular}}
              </p>
            </ion-col>


            <hr>
          </ion-row>
          <ion-row *ngIf="ejecutivo.sucursal.mail.length !=0">
            <ion-col col-1 text-left>
              <p>
                <ion-icon class="iconos" name="ios-mail-outline"><a
                    href="mailto:{{ejecutivo.sucursal.mail}}" ></a></ion-icon>
              </p>
            </ion-col>
            <ion-col col-9 text-left>
              <p style="color: black;"><a href="mailto:{{ejecutivo.sucursal.mail}}" style="text-decoration:none;color:black"> {{ejecutivo.sucursal.mail}}</a>
              </p>
            </ion-col>

          </ion-row>
          <ion-row>
            <ion-col style="text-align: center;padding:0">
              <button ion-button block (click)="openWeb()" class="btn-contacto">QUIERO QUE ME CONTACTE</button>
            </ion-col>
          </ion-row>
        </div>

        <div style="padding:14px">
          <button ion-button menuClose (click)="logout()" block class="btn-logout">
            CERRAR SESIÓN</button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>