page-ejecutivo {

	
	

	#info_table p {
		margin: 0px;
	}

	.rut-usuario {
		color: #959595;
		font-size: 0.9375em;
		font-family: 'AppFont3' !important;
	}

	.titulo-boton {
		line-height: 0;
		display: inline-block;
		font-family: 'AppFont2' !important;
		margin-top: 8px;
	}

	.map {
		width: 100%;
		height: 400px;
		//min-height: 60em!important;
	}

	.iconos {
		color: red;
		font-size: 1.625em;

	}

	.btn-arrow {
		color: #414345;
		float: right;
		height: 100% !important;
		background-color: #c9cfd1;
		width: 24px;
		border-radius: 0% !important;
		margin: 0px !important;
		padding:0 !important;

	}

	#info_table {
		background-color: #E9EDEF;
		color: #676767;
		padding: 13px;
	}

	#btn_servicios {
		width: auto;
		height: 45px;
		background: #E9EDEF;
		text-align: left;


	}

	hr {
		width: 100%;
		height: 1px !important;
	}

	p {

		color: #676767;
		font-weight: bold;
		font-family: 'AppFont2';

	}

	.header-ejecutivo {
		color: #959595;
		margin-top: 30px;
		font-size: 0.8125em;
	}

	.icon-ejecutivo {
		font-size: 1.250em;
	}

	.btn-contacto {
		background-color: #8f9193 !important;
		box-shadow: none;
		border-radius: 0 !important;
		margin-top: 8% !important;
	}

	.btn-logout {
		background-color: #E41E1F !important;
		box-shadow: none;
		border-radius: 0 !important;
	}
}