@import "./theme/variables.scss";


/* .card {
    border-radius: 5px !important;
    @include element-shadow();
    height:15%!important;
    width:90%;
    background-color: #5b5b5b;
    
} */

.item-text
{
    color: white;
   font-weight:bold;
}

.ion-icon{
    font-size:25px;
    right:30px;
    color:white;
    font-weight: bold;
}

.card-subtitle{

    color:white!important;
    float: left;
}

.boton-detalle{
    background-color: #4a5f68 !important;
    float:right;
}