<ion-header>
  <ion-navbar hideBackButton>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Operaciones
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <io-grid fixed>
    <ion-row justify-content-center align-items-center>
      <ion-card class="card" style="margin-top:10%!important">
        <ion-card-header>
          <ion-card-title class="item-text"> {{operaciones.curso}}
          </ion-card-title>
          <h3 class="card-subtitle">En curso</h3>
        </ion-card-header>
      </ion-card>
      <ion-card class="card">
        <ion-card-header>
          <ion-card-title class="item-text"> {{operaciones.vigentes}}
          </ion-card-title>
          <h3 class="card-subtitle">Vigentes</h3>
        </ion-card-header>
      </ion-card>
      <ion-col col-11>
        <button ion-button class="boton-detalle" icon-end (click)="abrirHistorial()">Ver Detalle <ion-icon
            style="font-weight: bold" name="arrow-round-forward">
          </ion-icon>
        </button>
      </ion-col>

    </ion-row>
  </io-grid>

  
</ion-content>