@import "./theme/variables.scss";


/* .card {
    border-radius: 5px !important;
    @include element-shadow();
    height:15%!important;
    width:90%;
    background-color: #5b5b5b;
} */

.item-text
{
    color: white;
   font-weight:bold;
}

.ion-icon{
    font-size:25px;
    position:fixed;
    right:30px;
    color:white;
}

.card-subtitle{

    color:white;
    float: left;
}
 
