<ion-header>
  <ion-navbar hideBackButton>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Retenciones
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid  *ngIf="retenciones.length ==0">
    <ion-row justify-content-center align-items-center>
        <ion-card class="card"  style="margin-top:10%!important">
            <ion-card-header>
              <ion-card-title class="item-text"> No hay retenciones
                <span>
                  <ion-icon clear style="float: right; font-size: 40px" name="alert">
                  </ion-icon>
                </span>
              </ion-card-title>
    
            </ion-card-header>
    
          </ion-card>
    </ion-row>
  </ion-grid>
    
  <ion-grid fixed *ngFor="let retencion of retenciones">
    <ion-row justify-content-center align-items-center>
    
        <ion-card class="card">
          <ion-card-header>
            <ion-card-title class="item-text"> {{retencion.liberar | currency:'CLP':'symbol-narrow':'1.0'}}
            </ion-card-title>
            <h3 class="card-subtitle">Liberado</h3>

          </ion-card-header>

        </ion-card>
        <ion-card class="card">
          <ion-card-header>
            <ion-card-title class="item-text"> {{retencion.ocupado | currency:'CLP':'symbol-narrow':'1.0'}}
            </ion-card-title>
            <h3 class="card-subtitle">Ocupado</h3>

          </ion-card-header>

        </ion-card>

        <ion-card class="card">
          <ion-card-header>
            <ion-card-title class="item-text"> {{retencion.transferido| currency:'CLP':'symbol-narrow':'1.0'}}
            </ion-card-title>
            <h3 class="card-subtitle">Transferido</h3>

          </ion-card-header>

        </ion-card>

        <ion-card class="card">
          <ion-card-header>
            <ion-card-title class="item-text"> {{retencion.disponible | currency:'CLP':'symbol-narrow':'1.0'}}
            </ion-card-title>
            <h3 class="card-subtitle">Disponible</h3>

          </ion-card-header>

        </ion-card>
    </ion-row>
  </ion-grid>



</ion-content>