ion-menu {

	
	
	.menu-content
	{
		background-color: $theme-color-1 !important;
	}

	.menu-list
	{
		margin: 0px 0px 10.6vh !important;

		.item
		{
			background-color: $theme-color-1;
			padding-right: 32px;
			
			&:first-child
			{
				border-top: solid 1px rgba($white-d, 0.15);
			}

			&:last-child
			{
				border-bottom: solid 1px rgba($white-d, 0.15);
			}

			.item-inner
			{
				border-bottom: 1px solid rgba($white-d, 0.15);
				font-size: 1.8rem;
				font-weight: 300;
				letter-spacing: 1px;
				color: $white;
			}

			.item-icon
			{
				color: $white;
				font-size: 3.4rem;
			}

			&.activated
			{
  			background-color: $theme-color-1;
  			transition-duration: 0ms;

				.item-inner
				{
					color: $white;
				}

				.item-icon
				{
					color: $white;
				}
			}
		}
	}
}
