<ion-content padding>
  <ion-grid fixed>
    <ion-col col-12>
      <div>
        <button clear ion-button style="float:left;padding:0!important" (click)="volver()">
          <ion-icon style="font-size: 23px; color:red" name="arrow-back">Atrás</ion-icon>
        </button>
      </div>
    </ion-col>
    <ion-col col-12>
      <h4> Oficina: {{sucursal.nombre_sucursal | titlecase}}</h4>
    </ion-col>
    <ion-col col-12>
      <div id="map" class="map"></div>
    </ion-col>
  </ion-grid>


</ion-content>