// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$white: #FFFFFF;
$white-a: darken($white, 3%);
$white-b: darken($white, 6%);
$white-c: darken($white, 12%);
$white-d: darken($white, 24%);

$black: rgba(#000000, .8);
$black-a: lighten($black, 10%);
$black-b: lighten($black, 20%);
$black-c: lighten($black, 40%);
$black-d: lighten($black, 60%);



$theme-color-1: #4a5f68;
$theme-color-2: #c01d04;
$theme-color-3: #5e5874;

//loading controller
$loading-ios-background: transparent;
$loading-wp-background: $loading-ios-background;
$loading-md-background: $loading-ios-background;
$loading-ios-text-color :black;
$loading-md-text-color : $loading-ios-text-color;
$loading-ios-content-font-weight :bold;
$loading-md-box-shadow: none;

//segment md

$segment-button-md-height:45px; //tamaño segmento
$segment-button-md-padding-end:4px; //padding botones 
$segment-button-md-border-bottom-width:0px; //linea de pestaña activa



// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #387ef5,
  secondary:  #32db64,
  danger:     #f4344f,
  light:      #f4f4f4,
  dark:       #222,
  favorite:   #69BB7B,
  logros:     #4a5f68,
  info:       #17a2b8,
  walkthrough:(
    base: $theme-color-1,
    contrast: $white
  ),
  walkthrough-alt:(
    base: $theme-color-2,
    contrast: $white
  ),
  walkthrough-header:(
    base: transparent,
    contrast: $white
  ),
  header:(
    base: $theme-color-1,
    contrast: $white
  ),
  header-alt:(
    base: $theme-color-2,
    contrast: $white
  ),
  button:(
    base: $theme-color-1,
    contrast: $white
  ),
  button-alt:(
    base: $theme-color-2,
    contrast: $white
  ),
  background:(
    base: $white-a,
    contrast: $black-b
  ),
  tabs-navigation:(
    base: $white,
    contrast: $white-d
  )
);


// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

 @import "ionic.theme.default";
@font-face{
  font-family: AppFont;
  src:url("../assets/fonts/AvenirNextLTPro-Regular.otf")
}

@font-face{
  font-family: AppFont2;
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf");
}

@font-face{
  font-family: AppFont3;
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf");
}

@font-face{
  font-family: Monserrat_Medium;
  src: url("../assets/fonts/Montserrat-Medium.otf");
}

@font-face{
  font-family: Monserrat_Semi;
  src: url("../assets/fonts/Montserrat-SemiBold.otf");
}


@font-face{
  font-family: Monserrat_Regular;
  src: url("../assets/fonts/Montserrat-Regular.otf");
}



h1,h2,h3,h4,h5,h6,button{
  font-family: 'AppFont3';
}

p{
  font-family: 'AppFont2';
}


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: "../assets/fonts";
@import "ionic.ionicons";
$app-direction: multi; 

