<div *ngIf="showSplash" class="splash">
  <div class="sk-folding-cube">
    <div class="sk-cube1 sk-cube"></div>
    <div class="sk-cube2 sk-cube"></div>
    <div class="sk-cube4 sk-cube"></div>
    <div class="sk-cube3 sk-cube"></div>
  </div>
</div>

<ion-menu [content]="content" [swipeEnabled]="false" type="overlay" persistent = "true" disable-scroll>
  
  
  <ion-content class="menu-content" disable-scroll>
    
              
    <ion-list class="menu-list">
      <div class="container_img">
        <img class="img-logo" src="./assets/images/logros_logo.png">
      </div>
      <button  ion-item detail-none *ngFor="let page of pages" (click)="openPage(page)">
        <ion-icon *ngIf="page.icon" name="{{ page.icon }}" item-left></ion-icon>
        {{ page.title }}
      </button>
      <button  ion-item detail-none *ngFor="let page of pushPages" (click)="pushPage(page)">
        <ion-icon *ngIf="page.icon" name="{{ page.icon }}" item-left></ion-icon>
        {{ page.title }}
      </button>
    </ion-list>
  </ion-content>
  <ion-footer no-border style="padding-left: 2%;padding-right: 2%"> <button ion-button menuClose (click)="logout()"block  style="background-color:#c01d04">
      Cerrar sesión <ion-icon padding name="log-out"></ion-icon></button></ion-footer>
</ion-menu>

<ion-nav [root]="rootPage" #content swipe-back-enabled="false"></ion-nav>