@mixin categories-title-style($color) {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 4vw;
    font-weight: 700;
    letter-spacing: 0.4px;
    color: $color;
    margin: 0px;
}

page-inicio {

    $categories-heading-image-height: 150px;
    $categories-grid-padding: 10px;
    $categories-horizontal-list-padding: 10px;



    .icono {
        text-align: center !important;
        font-size: 300% !important;
        color: white;

    }


    .listing-header {
        .header-logo {
            width: 34vw;
        }
    }

    .listing-content {
        .image-heading {
            height: $categories-heading-image-height;

            .bg-overlay {
                z-index: 1;
                background-color: rgba($black-c, .6);
            }

            ion-spinner {
                z-index: 2;
            }

            @include spinner-color($white);

            .heading-row {
                height: 100%;
                width: 100%;
                z-index: 3;
                position: absolute;
                align-items: center;

                .main-title {
                    @include categories-title-style($white);
                    font-size: 10vw;
                }
            }
        }

        .categories-title {
            font-size: 1.2rem;
            font-weight: 400;
            letter-spacing: 0.7px;
            color: $white-d;
            margin: 8px 16px 16px;
        }

        .horizontal-categories {
            border-bottom: 10px solid $white-a;
            @include element-shadow();
            padding-bottom: 16px;

            .scroll-content {
                position: relative;
                contain: style layout;
            }

            preload-image {
                border-radius: 50%;

                img {
                    border-radius: 50%;
                }
            }

            .categories-row {
                flex-wrap: nowrap;

                &::after {
                    content: '';
                    flex: 0 0 $categories-horizontal-list-padding;
                    max-width: $categories-horizontal-list-padding;
                }
            }

            .horizontal-item {
                padding: 0px 0px 0px $categories-horizontal-list-padding;
            }
        }

        .grid-categories {
            padding: 0px ($categories-grid-padding/2);

            flex-wrap: wrap;

            .category-item {
                padding: 0px ($categories-grid-padding/2) $categories-grid-padding;

                .category-heading {
                    padding-bottom: 100%;

                    .bg-overlay {
                        z-index: 1;
                        background-color: rgba($black-c, .6);
                    }

                    ion-spinner {
                        z-index: 2;
                    }

                    @include spinner-color($white);

                    .heading-row {
                        height: 100%;
                        width: 100%;
                        z-index: 3;
                        position: absolute;
                        align-items: center;

                        .category-title {
                            @include categories-title-style($white);
                        }
                    }
                }
            }
        }
    }



    .indicadores {
        width: auto;
        height: 77px;
        background: #E9EDEF;
        line-height: 16px;
        margin: 0 auto;
        padding: 0px !important;
    }

    h3 {
        margin-top: 2px !important;
        font-size: 34px;
        font-weight: 700;

    }

    .col-logo{
        padding-left: 0px !important;
    }

    .logo {
        padding:0;
        width: 123px !important;
        padding-top: 5%;
        padding-left: 0 !important;
        margin-bottom:2px;
    }

    .header-logo {
        margin-top: -12px;
        color: #959595;
        font-size: 0.938em;
        font-family: 'Monserrat_Medium';
    }
    .bienvenido{
        font-family: 'Monserrat_Regular' !important;
    }
    .header-logo#fecha{
        font-family: 'AppFont3';
        font-size:13px;
        margin-bottom: 30px;
        margin-top:10px;
        text-transform: uppercase;
    }

    .header-operaciones{
        line-height: 0;
        display: inline-block; 
        margin-top:5px;
        font-size:17px;
    }

    .valor {
        padding-top: 4px !important;
        margin-top: -21px;
        text-transform: uppercase;
        color: #575757;
        font-size: 21px;
    }


    .btn-arrow {
        color: #414345;
        float: right;
        height: 100% !important;
        background-color: #c9cfd1;
        width: 24px;
        border-radius: 0% !important;
        margin: 0px !important;
        padding:0 !important;
    }

    .product-title,
    .product-value {
        color: #4D4B4B;
        font-size: 17px;
        font-family: 'AppFont2';

    }
}

.horizontal{
    width: 150%;
    height: 1px !important;
    margin-left: -20px;
    margin-right: -20px;
}

.category-header {
    color: #959595;
    font-weight: 500;
    margin-bottom: -7px;
    font-family: 'AppFont3';
    font-size:13px;
}

.indicadores-background{
    background-color:#E9EDEF;
    min-height: 100px;
    height:300px;
}