<page-loading *ngIf="loading" [@fadeInOut]="(loading) ? 'fade':'fadenot'"></page-loading>
<ion-content *ngIf="!loading">
  <ion-grid padding [@fadeInOut]="(!loading) ? 'fade':'fadenot'">
    <div>
      <ion-row align-items-start no-padding>
          <ion-col col-6 class="col-logo">
              <img class="logo" src="./assets/images/logros_logo.png">
            </ion-col>
            <ion-col col-6 text-right no-padding>
              <button ion-button clear style="padding: 0px;">
                <ion-icon name="ios-contact" style="color:#DD1F20;font-size: 35px" (click)="perfil()"></ion-icon>
              </button>
            </ion-col>
            
      </ion-row>
      <div>
        <h3 class="bienvenido">Bienvenido</h3>
        <p class="header-logo" style="color:black">{{cliente.nombre | titlecase}}. </p>
        <p class="header-logo" id="fecha" >{{today | date:'EEEE d LLLL':'':'es-CL' }} </p>
      </div>
    </div>
    <ion-col col-12 style="padding:0">
      <div class="indicadores" (click)=operaciones()>
        <p padding  class="header-operaciones">Operaciones</p>
        <button class="btn-arrow"  clear ion-button>
          <ion-icon name="ios-arrow-forward-outline"></ion-icon>
        </button>
        <h5 padding class="valor"> {{opVigentes.total + opCurso.total || 0}}
        </h5>
      </div>
    </ion-col>

    <ion-list>
      <ion-list-header no-lines class="category-header" style="padding:0">
        Saldos
      </ion-list-header>
      <ion-item *ngFor="let item of saldos" style="padding:0">
        <p class="product-title">{{item.name}}</p>
        <p item-end class="product-value">${{item.saldo}}</p>
      </ion-item>
      <ion-item style="padding:0">
        <p class="product-title">Total</p>
        <p item-end class="product-value">${{total}}</p>
      </ion-item>
    </ion-list>

  </ion-grid>
  <div style="margin-top:10%;" *ngIf="indicador.length != 0">
    <p padding class="category-header" style="margin-bottom: -6px;">INDICADORES ECONÓMICOS</p>
    <div class="indicadores-background">
      <ion-row  align-items-start no margin style="line-height: 0;">
        <ion-col col-8 no-padding style="margin-top:5px">
          <p class="product-title">Dolar</p>
        </ion-col>
        <ion-col col-4 text-right no-padding style="margin-top:5px">
          <p class="product-value">${{transformado_dolar}}</p>
        </ion-col>
        <hr class="horizontal">
        <ion-col col-8 no-padding>
          <p class="product-title">Euro</p>
        </ion-col>
        <ion-col col-4 text-right no-padding>
          <p class="product-value">
              ${{transformado_euro}}
          </p>
        </ion-col>
        <hr class="horizontal">
        <ion-col col-8 no-padding>
          <p class="product-title">UF</p>
        </ion-col>
        <ion-col col-4 text-right no-padding>
          <p class="product-value">
              ${{transformado_uf}}
          </p>
        </ion-col>
        <hr class="horizontal">
      </ion-row>
    </div>
  </div>
</ion-content>