@import "./theme/variables.scss";


/* .card {
    border-radius: 15px 15px 15px 15px !important;
    height: 16% !important;
    width: 90%;
    background: rgba(191, 191, 191, 1) 0%, rgba(158, 158, 158, 1) 100%;
} */

.item-text {
    color: white;
    font-weight: bold;
    font-size: 1em;
    margin-top:4px;
}

.card-subtitle {

    color: white !important;
    float: left;
}