<ion-header>
  <ion-navbar hideBackButton>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Saldos
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row justify-content-center align-items-center>
      <ion-card class="card" style="margin-top:10%!important">

        <ion-card-header>
          <ion-card-title class="item-text">{{saldos.Facturas | currency:'CLP' :'symbol-narrow':'1.0'}}</ion-card-title>
          <h2 class="card-subtitle">Factoring Facturas</h2>
        </ion-card-header>
      </ion-card>

      <ion-card class="card">

        <ion-card-header>
          <ion-card-title class="item-text">{{saldos.Cheques | currency:'CLP':'symbol-narrow':'1.0'}}</ion-card-title>
          <h2 class="card-subtitle">Factoring Cheques</h2>
        </ion-card-header>
      </ion-card>

      <ion-card class="card">

        <ion-card-header>
          <ion-card-title class="item-text">{{saldos.Financiero | currency:'CLP':'symbol-narrow':'1.0'}}
          </ion-card-title>
          <h2 class="card-subtitle">Factoring Financiero</h2>
        </ion-card-header>
      </ion-card>
      <ion-card class="card">

        <ion-card-header>
          <ion-card-title class="item-text">{{saldos.total| currency:'CLP':'symbol-narrow':'1.0'}}</ion-card-title>
          <h2 class="card-subtitle">Total</h2>
        </ion-card-header>
      </ion-card>
      <ion-card class="card" style="background-color: #db2525!important">

        <ion-card-header>
          <ion-card-title class="item-text">{{saldos.plazo | currency:'CLP':'symbol-narrow':'1.0'}}</ion-card-title>
          <h2 class="card-subtitle">Fuera de Plazo</h2>
        </ion-card-header>
      </ion-card>
    </ion-row>
  </ion-grid>

</ion-content>