page-loading {
.vertical{
    
   margin-top:50%;
}

label{
   font-family: 'AppFont';
   font-size:0.938em
}

@media only screen and (min-width: 700px){
	label{
	  font-size:1.4em !important;
   }
}
}
