<ion-content style="background-color: #E9EDEF" class="auth-content">
    <ion-grid [@fadeInOut]="'fade'" class="vertical">
        <ion-row justify-content-center >
            <ion-col col-12>
                <img style="margin-bottom: 20px" padding src="./assets/images/logros_logo.png">
            </ion-col>
            <ion-col col-12>
                <div style="text-align: center">
                    <label>Cargando ...</label>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>