<ion-header>
  <ion-navbar hideBackButton>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Indicadores
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row justify-content-center align-items-center *ngFor="let indicadores of indicador">
        <ion-card class="card" style="margin-top:10%!important">
          <ion-card-header>
            <ion-card-title class="item-text">{{indicadores.uf | currency:'CLP':'symbol-narrow':'1.0'}}
            </ion-card-title>
            <h3 class="card-subtitle">UF</h3>
          </ion-card-header>

        </ion-card>
        <ion-card class="card">
          <ion-card-header>
            <ion-card-title class="item-text">{{indicadores.dolar | currency:'CLP':'symbol-narrow':'1.0'}}
            </ion-card-title>
            <h3 class="card-subtitle">DOLAR</h3>
          </ion-card-header>

        </ion-card>
        <ion-card class="card">
          <ion-card-header>
            <ion-card-title class="item-text">{{indicadores.euro | currency:'CLP':'symbol-narrow':'1.0'}}
            </ion-card-title>
            <h3 class="card-subtitle">EURO</h3>
          </ion-card-header>

        </ion-card>

    </ion-row>
  </ion-grid>

</ion-content>