<ion-content padding>
<div padding>
  <ion-segment class="segment" [(ngModel)]="historial">
    <ion-segment-button value="Vigentes">
      <ion-label>Vigentes</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Curso">
      <ion-label>En curso</ion-label>
    </ion-segment-button>
  </ion-segment>
</div>
  
 
<div style="text-align: center;margin-bottom: 20px;">
      <button clear ion-button style="float:left;padding:0" (click)="volver()">
          <ion-icon style="font-size: 35px; color:#DD1F20" name="ios-arrow-back-outline"></ion-icon>
        </button>
    <h4 style="display: inline-block; ">Operaciones</h4>
  </div>

  <div [ngSwitch]="historial">
    <ion-list *ngSwitchCase="'Curso'">
      <ion-card class="card" *ngIf="!op_curso">
        <ion-card-header class="card-header">
          No hay operaciones en curso
        </ion-card-header>
      </ion-card>
          <ion-list>
            <div *ngFor="let key of op_agrupadas_curso_keys">
              <ion-list-header no-lines class="date-op" style="padding:0;">
                {{key | date:'EEEE d MMMM':'':'es-CL' | uppercase}}
              </ion-list-header>
              <ion-item *ngFor="let operacion of op_agrupadas_curso[key]" style="padding:0">
                <p class="product-title">{{ operacion.producto}}</p>
                <p item-end class="product-value">${{operacion.monto}}</p>
              </ion-item>
            </div>
          </ion-list>
    </ion-list>

    <ion-list *ngSwitchCase="'Vigentes'">
      <ion-card class="card" *ngIf="!op_vigente">
        <ion-card-header class="card-header">
          No hay operaciones vigentes
        </ion-card-header>
      </ion-card>

      <ion-list>
        <div *ngFor="let key of op_agrupadas_keys">
          <ion-list-header no-lines class="date-op" style="padding:0;">
           {{key | date:'EEEE d MMMM':'':'es-CL' | uppercase}}
          </ion-list-header>
          <ion-item *ngFor="let operacion of op_agrupadas[key]" style="padding:0">
            <p class="product-title">{{ operacion.producto}}</p>
            <p item-end class="product-value">${{operacion.saldo}}</p>
          </ion-item>
        </div>
      </ion-list>
    </ion-list>
  </div>
</ion-content>