page-historial {

    .card-header {

        font-size: 1.3em;
        width: 100%;
        font-weight: bold;

    }

    .card-label {

        font-size: 1.1em;

    }

    .p {
        font-weight: bold;
    }

    .card.card-md {
        box-shadow: none;
        background-color: #E9EDEF !important;
    }

    .segment-md {
        border-color: rgba(118, 118, 128, 0.12);
        border-style: solid;
        border-width: medium;
    }

   .segment-ios .label-ios {
        margin: 0 !important;
        color: black;
        font-weight: bold;
    }

    .segment-md .segment-button.segment-activated {
        background-color: white !important;
        border-color: rgba(118, 118, 128, 0.12) !important;
    }

    .segment-md .segment-button {
        border-color: rgba(118, 118, 128, 0.12) !important;
        background-color: rgba(118, 118, 128, 0.12) !important;
    }

    .segment-md .label-md {
        margin: 0 !important;
        color: black;
        font-weight: bold;
    }


    .segment-ios .segment-button {
        border-color: rgba(118, 118, 128, 0.12) !important;
        background-color: rgba(118, 118, 128, 0.12) !important;
    }

    .segment-ios .segment-button.segment-activated {
        background-color: white !important;
    }

    .date-op{
        color:#959595 !important;
        font-weight: bolder;
        font-size: 13px;
    }
    .product-title,
    .product-value {
        font-weight: bold;
        color: #4D4B4B;
        font-size: 1.5rem;
    }

    hr {
        border: 0;
        width: 100%;
        height: 1px !important;
    }

}